.about {
    display: flex;
    width: 100%;
    max-width: 45rem;
    background-color: #e4e4e4;
    border-radius: 1rem;
    margin: .5rem 0;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    .about-text {
        margin: 0 1rem 1rem 1rem;
    }
}