.content {
    position: fixed;
    background-color: #f2f2f2;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
    left: 22rem;
    top: calc(5.5rem);
    width: calc(100vw - 22rem - 3rem);
    height: calc(100vh - 7.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 0 !important;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.section-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    margin: 1rem 1rem .5rem 1rem;
    div {
        width: calc(45rem - 2rem);
        background-color: #a3a3a3;
        height: 5px;
    }
}