.knowledge {
    display: flex;
    width: 100%;
    max-width: 45rem;
    background-color: #e4e4e4;
    border-radius: 1rem;
    margin: .5rem 0;
    flex-direction: column;
    .knowledge-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: .5rem 0;
    }
    .knowledge-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #cccccc;
        padding: .5rem;
        margin: .5rem;
        border-radius: .5rem;
        img {
            width: 6rem;
        }
    }
}

@media screen and (max-width: 910px) {}