.profile {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 45rem;
    background-color: #e4e4e4;
    border-radius: 1rem;
    margin: .5rem 0;
    img {
        width: 10rem;
        margin: 1rem;
        border-radius: .5rem;
    }
    div {
        display: flex;
        flex-direction: column;
        .title {
            font-family: 'Raleway', sans-serif;
            font-weight: 1000;
            font-size: 5rem;
        }
        .subtitle {
            font-size: 2rem;
            font-family: 'Raleway', sans-serif;
        }
    }
}

@media screen and (max-width: 635px) {
    .profile {
        flex-direction: column;
        img {
            width: 20rem;
        }
        div {
            align-items: center;
            margin-bottom: 1rem;
            .title {
                font-size: 3.5rem;
            }
            .subtitle {
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .profile {
        img {
            width: 80%;
        }
        div {
            align-items: center;
            margin-bottom: 1rem;
            .title {
                font-size: 250%;
            }
            .subtitle {
                font-size: 100%;
            }
        }
    }
}